// Variables

// Color syste
$white:    #fff !default;
$black:    #000 !default;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ea2127 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray:    #6c757d !default;
$gray-dark:#343a40 !default;

$success:#198754 !default;
$info:#0dcaf0 !default;
$warning:#ffc107 !default;
$danger:#dc3545 !default;
$light:#f8f9fa !default;
$dark:#212529 !default;

//DSA theme Color
$dsa-dark-blue:#0c2740 !default;
$dsa-medium-blue:#344c71 !default;
$dsa-cyan-blue:#3471b7 !default;
$dsa-bright-blue:#357DC0 !default;
$dsa-yellow:#ffcc32 !default;
$dsa-red:#d2232a !default;
$dsa-green:#1d9649 !default;
$dsa-purple:#636eab !default;
$dsa-light-grey:#58585B !default;
$dsa-dark-grey:#58595b !default;

