doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='robots' content='noindex')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Custom CSS
    link(rel='stylesheet' href='../assets/css/main.min.css' type='text/css' )

    title Dezan Shira & Associates!
body
    #wrapper
        include ../components/_header-mega-menu-final
        section.masthead
          .masthead__text
            .section-wrapper.flex-wrapper.flex-column
              .breadcrumb2
                ul.c-list.c-list--arrow2
                  li
                    a(href='/') Home
                  li
                    a(href='/about-us/our-firm.html') About Us
                  li Overview
              h1 About Dezan Shira &amp; Associates
              p.pb-5
          .masthead__bg
            img(alt='' src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')                
        section.s-layout
          .section-wrapper.flex-wrapper
            .s-layout__main
              p
                | Dezan Shira &amp; Associates is a pan-Asia, multi-disciplinary professional services firm, providing market entry, legal,
                | accounting, tax, HR, technology and operational advisory to international investors. Operational throughout China, ASEAN and India,
                | our mission is to guide foreign companies through Asia&rsquo;s complex regulatory environment and assist them with all aspects
                | of establishing, maintaining, and growing their business operations in the region.
              p
                | Originally incorporated in Hong Kong in 1992, Dezan Shira &amp; Associates is now in its third decade of operations. With
                | more than 28 years of on-the-ground experience and a large team of lawyers, tax experts and auditors, in addition to
                | researchers and business analysts - we are your partner for growth in Asia.
              p
                | We support our clients from our 28 offices throughout China, Hong Kong, India,Russia, Singapore and Vietnam, as well as
                | from our 8 &lsquo;Asian Alliance&rsquo; partner offices in Bangladesh, Indonesia, Malaysia, the Philippines, and Thailand. Together,
                | we makeup one of the largest integrated providers of corporate services in the region, with more than 35 offices and 500
                | professionals in Asia.
              p
                | We also serve our corporate clients and partners beyond Asia. Our firm maintains liaison offices in the United States,
                | Europe, and Russia, and advises throughout China&rsquo;s Belt &amp; Road Initiative regions. As members of accounting, tax, and
                | legal professional alliances, we support our multi-jurisdictional clients with one-stop-shop access to services in more
                | than 155 countries globally.
              h2
                | Our Services
              p
                | Dezan Shira &amp; Associates is a specialist practice that provides
                | foreign direct investment services for international businesses
                | looking to enter and expand their operations in Asia. Specifically,
                | our services include pre-investment and entry strategy advisory,
                | comparisons of investment destinations, due diligence, corporate
                | establishment, tax advisory, accounting &amp; reporting, treasury
                | administration, financial review, internal audit &amp; compliance, human
                | resource administration &amp; payroll, and ERP &amp; financial system
                | review.
              p
                | In essence, we are able to guide clients through Asian
                | familiarization, entry and operations. We hold our clients&rsquo; hands
                | throughout the entire process of Asian familiarization, business
                | planning, and corporate establishment. We also provide comprehensive
                | post-establishment operational support and advisory services, in the
                | areas of administration, corporate or legal advisory, accounting,
                | tax and finance, HR, payroll, and technology services.
              p
                | This is why we believe that we are your partner for growth in Asia.
              p
                a(href='/services')
                  strong
                    | Explore our services 
                    span(style='color: #217fd4;') &xrarr;
              h2
                | Our Global Reach
              p
                | We are a Pan-Asia practice with fully-integrated corporate offices
                | working both locally and with one another to provide
                | multi-jurisdictional advice and planning for businesses operating
                | across Asia. Our expert staff regularly interact with and travel
                | between our offices to pool, share, and enhance our already
                | extensive regional intelligence on doing business. This unique
                | aspect of our business model enables Dezan Shira &amp; Associates to
                | provide a concise, detailed and accurate picture on the latest
                | developments in the local region as well as cross-regional tax and
                | regulatory matters. Our solution sets provide unique comparisons to
                | our clients with optimum business insights that other single-country
                | firms cannot equal.
              p
                a(href='/office')
                  strong
                    | View our offices 
                    span(style='color: #217fd4;') &xrarr;
              h2 Our Clients and Sector Expertise
              p
                | Our clients consists of mid cap companies, subsidiaries of listed
                | corporations, smaller family firms and larger multinational firms.
                | We service thousands of corporate clients, headquartered in more
                | than 100 countries around the globe, including approximately 70%
                | from North America and Europe.
              p
                | While many of our clients are Fortune 500 players, most could be
                | deemed &lsquo;fortune 5000&rsquo; firms, globally. We are as comfortable with
                | entrepreneurs, as we are with well-established and scaling
                | enterprises. Our diversified clientele allows us to strengthen the
                | knowledge base that we continue to use in assisting our clients do
                | business across Asia.
              p
                | Our industry expertise has developed from over 28 years of supporting clients from
                | across numerous industry sectors. Specialist and growth sectors include consumer goods and services, education,
                | entertainment, environment, food and beverage, healthcare, ICT, manufacturing, Non-Governmental Organizations,
                | professional services, as well as trade and e-commerce.
              p
                a(href='/industries')
                  strong
                    | See our industry expertise
                    span(style='color: #217fd4;') &xrarr;
              h2 Our Resources &amp; Credentials
              ul.list
                li
                  p
                    | We are committed to providing business knowledge and
                    | intelligence to firms around the world which supports investing
                    | and operating in various markets throughout Asia, as a
                    | complement to our expert advisory and corporate services. We
                    | share this knowledge through Asiapedia, our knowledge resources
                    | center, and through our region-specific publishing brand titles
                    | that operate under Asia Briefing.
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a(href='/library' target='_blank')
                          strong Asiapedia
                      p
                        | The firm sustains an exhaustive
                        a(href='/library' target='_blank') business library
                        | . Asiapedia is a
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;collection of resources based on what we
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;have learned about doing business in Asia. It&rsquo;s the product
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;of more than 300 team members collaborating across 25
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;offices in Asia, Europe, and North America.
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='http://www.leadingedgealliance.com/' target='_blank')
                        img.ml-2(src='https://www.dezshira.com/assets/img/about-us/asiapedia-by-DSA.png' width='120' scale='0')
                  p
                    a(href='/library')
                      strong
                        | Find resources on Asiapedia
                        span(style='color: #217fd4;') &xrarr;
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a(href='https://www.asiabriefing.com/' target='_blank')
                          strong Asia Briefing
                      p
                        | Asia Briefing is an umbrella of regional publication titles,
                        | each of which includes articles, magazines, and technical
                        | guides that include Asia business updates and insights. Each
                        | region covers a mixture of topics including market entry,
                        | FDI, and operating throughout Asia from a Tax, Legal and HR
                        | perspectives. Asia Briefing covers the following regions
                        a(href='http://www.china-briefing.com/' target='_blank')
                          strong China
                        | ,
                        a(href='http://www.vietnam-briefing.com/' target='_blank')
                          strong Vietnam
                        | ,
                        a(href='http://www.aseanbriefing.com/' target='_blank')
                          strong ASEAN Countries
                        | ,
                        a(href='http://www.india-briefing.com/' target='_blank')
                          strong India
                        | ,
                        a(href='http://www.russia-briefing.com/' target='_blank')
                          strong Russia
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;and
                        a(href='http://www.silkroadbriefing.com/' target='_blank')
                          strong
                            | The Belt &amp; Road
                            | Initiative
                        | .
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='https://www.asiabriefing.com/' target='_blank')
                        img.ml-2(src='https://www.dezshira.com/assets/img/about-us/AB-logo-from-DSA.png' width='120' scale='0')
                  a(href='/investor-resource.html')
                    strong
                      | Read insights from an Asia Briefing
                      | publication
                      span(style='color: #217fd4;') &xrarr;
              p.mt-2
                a(href='/about-us/media.html')
                  strong
                    | Follow us on social media to keep up
                    | to date with Asia 
                    span(style='color: #217fd4;') &xrarr;
              h2.mt-6.mb-0
                | Our Asia and Global Alliances
              ul.list
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a(href='http://www.leadingedgealliance.com/' target='_blank')
                          strong
                            | Leading Edge
                            | Alliance
                      p
                        | Dezan Shira &amp; Associates is a member of the
                        a(href='http://www.leadingedgealliance.com/' target='_blank')
                          strong
                            | Leading Edge
                            | Alliance
                        | , the world&rsquo;s second largest global network of 226
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;accounting practices including 620 offices in 110 countries.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Dezan Shira &amp; Associates won the Alliance&acute;s &quot;Most Innovative
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Practice&quot; &ndash; its highest award &ndash; and the &quot;Recognition of
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Excellence&quot; award in 2013, the prestigious &ldquo;Edge Award&rdquo; in
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2014, as well as the &ldquo;Outstanding Marketing Award&rdquo; in 2016.
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='http://www.leadingedgealliance.com/' target='_blank')
                        img.ml-2(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_09.54.41.png' width='120' scale='0')
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a(href='https://www.irglobal.com/' target='_blank')
                          strong IR Global
                      p
                        | Dezan Shira &amp; Associates is a member of
                        a(href='https://www.irglobal.com' target='_blank')
                          strong IR Global
                        | , a network of
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;legal and tax firms across 155 countries and
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;jurisdictions. The network and its members specialize in
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;legal, accountancy and financial advisory services,
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;connecting clients and providing strategic global
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;development.
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='https://www.irglobal.com/')
                        img.ml-2(src='https://www.dezshira.com/userfiles/image/partners/IR Global logo.png' width='120' scale='0')
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a.name(href='http://www.etl.de/en/' target='_blank')
                          strong ETL Group
                      p
                        | Dezan Shira &amp; Associates is a member of
                        a(href='http://www.etl.de/en/' target='_blank')
                          strong ETL Group
                        | . ETL is Europe&apos;s
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;largest tax and legal consultancy group
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;and maintains a network of 870 firms in over 50 countries to
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;provide unique range of consulting services to European
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;businesses looking to expand.
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='http://www.etl.de/en/' target='_blank')
                        img.ml-2(src='https://www.dezshira.com/userfiles/image/partners/logo-etl-highres.png' width='120' scale='0')
                li
                  .grid.grid-bleed.align-center
                    .col-lg-10.col-md-10.col-sm-10
                      h4
                        a.name(href='/about-us/asian-alliance.html' target='_blank')
                          strong
                            | Dezan Shira Asian
                            | Alliance
                      p
                        | Dezan Shira &amp; Associates leads an alliance of highly capable
                        | firms in Asia to better support our clients&rsquo; activities
                        | throughout the region. Through this alliance, we assist with
                        | practice development and provide joint client services in
                        | smaller emerging nations across Asia.
                    .col-lg-2.col-md-2.col-sm-2
                      a(href='/about-us/asian-alliance.html' target='_blank')
                        img.ml-2(src='https://www.dezshira.com//assets/img/about-us/Dezan Shira Asian Alliance logo.svg' width='120' scale='0')
              p
                a(href='/partnerships/global')
                  strong
                    | Click to contact us about partnerships
                    span(style='color: #217fd4;') &xrarr;
            .s-layout__sidebar
              .card.contact-us.p-arround-3.mb-2
                img(alt='' src='https://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg' width='100%' height='5')
                h3.pt-3.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                p.text-white
                  | We provide professional services tailored to Asia&acute;s business environment across the full business cycle.
                a.btn.btn-outline-white.text-uppercase.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
              p.clearfix
                br
              script(src='https://content.jwplatform.com/players/DSu3Pgpc-lKmNhB9Q.js')
              p.clearfix
                br
              .card.light-blue-bg.mt-2.mb-2.p-arround-2
                a(href='https://www.dezshira.com/brochure')
                  i.icon-cloud-download.text-white.icon-6x
                p.mb-1
                  a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                h3
                  a(href='https://www.dezshira.com/brochure') Learn more about how we can support your business in Asia
              p.clearfix
                br
              //a.twitter-timeline(data-height='600' href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
              //script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
              //a(name='mini_contact_form')
        
        section.pt-5.pb-5.our-clients-panel.hp-clients-panel.hp-clients-panel-eight(style='background-color: #f3f3f3;')
          .container
            .grid
              .col-sm.col-md-5.col-lg-5.col-grid
                // h5.subhead.mt-2.mb-1 Our Clients
                h3 Our Clients
                p
                  | Discover our esteemed global clients across diverse sectors. We believe in providing our clients with exceptional service and a commitment to being their partner for growth in Asia.
                a.hp-section-link.c-link(href='https://www.dezshira.com/success-stories/testimonials') See what our clients say about us
              .col-sm.col-md-7.col-lg-7.col-grid
                .our-client-slide.glide.glide-fade(data-preview='1' data-autoplay='4000')
                  .col-grid.glide__track(data-glide-el='track')
                    .glide__slides
                      .glide__slide
                        .clients-logos
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025982_Mann_Hummel.png&width=120' alt='Mann Hummel' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025920_cosmoaesthetics.png&width=120' alt='CosmoAesthetics' style='width: 70px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025859_Lotto-logo-AV.png&width=120' alt='Lotto' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025822_RUSSELL_MINERAL_EQUIPMENT.png&width=120' alt='Russell Mineral Equipment' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025782_MaryKay.png&width=120' alt='Mary Kay' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025722_mim_software.png&width=120' alt='MIM Software' style='width: 65px;height: 65px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728023495_cockerill-logo.png&width=120' alt='John Cockerill' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685894047_Flow Traders Logo.png&width=120' alt='Flow Traders' style='width:165px;')
                      .glide__slide
                        .clients-logos
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728024901_Corman_SPA.png&width=120' alt='Corman SpA' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685893699_Finmasi Group logo.jpg&width=120' alt='Finmasi Spa' style='width: 62px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685893587_DosBros.png&width=120' alt='DosBros Fresh Mexican Grill' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728024961_GoldenAuroraFreshFruit.png&width=120' alt='Golden Aurora Fresh Fruit Trading' style='width: 60px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685893852_Mastip logo.png&width=120' alt='Mastip' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025492_EasySea Logo.png&width=120' alt='Easysea' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685893908_Metaverk logo.png&width=120' alt='Metaverk' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685698655_Ubisoft.png&width=120' alt='Ubisoft Vietnam' style='')
                      .glide__slide
                        .clients-logos
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685698331_ECA Italia logo.png&width=120' alt='ECA Italia' style='width: 58px;height: 47px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728023325_Marcum Asia.jpg&width=120' alt='MarcumAsia' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728025021_AimDirect.png&width=120' alt='Aim Direct' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1685505033_Occhio.jpg&width=120' alt='Occhio' style='width: 60px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://www.dezshira.com/assets_v2/img/logos/testimonials/Hauraton.jpg&width=120' alt='Hauraton' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://www.dezshira.com/assets_v2/img/logos/testimonials/Organica.jpg&width=120' alt='Organica' style='width: 50px;height: 61px;')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://www.dezshira.com/assets_v2/img/logos/testimonials/ping.jpg&width=120' alt='PING' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728612542_King_of_Truffles_logo.png&width=120' alt='King of Truffles' style='')
                      .glide__slide
                        .clients-logos
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728612489_fertiglobal.png&width=120' alt='FertiGlobal' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728612507_Bloomsbury_Institute.png&width=120' alt='Bloomsbury Institue London' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728612519_Genie_Networks.png&width=120' alt='Genie Networks' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728611984_Tiger-Water.png&width=120' alt='TIGER' style='')
                          .c-logo
                            img(loading='lazy' src='https://dsa-assset.netlify.app/.netlify/images?url=https://resource.dezshira.com/Assets/1728611971_VSM.png&width=120' alt='VSM' style='width: 96px;height: 35px;')
                  .glide__bullets(data-glide-el='controls[nav]')
                    .glide__bullet(data-glide-dir='=0') 0
                    .glide__bullet(data-glide-dir='=1') 1
                    .glide__bullet(data-glide-dir='=2') 2
                    .glide__bullet(data-glide-dir='=3') 3      


        include ../components/_footer
        //JavaScript
        script(src="../assets/js/main.js")
    