nav.navbar
  .navbar__wrapper
    a.navbar__logo(href='index.html')
      img(src="https://www.dezshira.com/assets/img/logo-black.png", alt="logo")
    .navbar__menuwrap.navbar--desktop
      ul.navbar__menu
        li
          a(class="navbar__togglemenu" href="javascript:void(0);" aria-expanded="false" data-twice=0) About Us
          .navbar__megamenu.navbar__megamenu--one
            .megamenu-wrapper
              .flex-wrapper--spacing
                .mega-mtabs-wrapper#about-section-menu
                  ul.mega-mtabs
                    li(rel='mgtab1') 
                        span About Us
                    li(rel='mgtab3') 
                        span Careers
                    li(rel='mgtab48') 
                        span Events 
                    li(rel='mgtab47') 
                        span News
                    li(rel='mgtab50') 
                        span Media and Partners
                    li.active(rel='mgtab52') 
                        span Personnel 
                    li(rel='mgtab51') 
                        span Client Success Stories

                  .mega-mtab-container
                    h3.mega-mtab-heading(rel='mgtab1') About Us
                    #mgtab1.mega-mtab-content
                      .page-link-block
                        .service-page-heading Who We Are
                        ul
                          li
                            a(href='https://www.dezshira.com/about-us/our-firm.html') Company Overview
                          li
                            a(href='https://www.asiabriefing.com/') Asia Briefing
                          li     
                            a(href='https://www.dezshira.com/about-us/asian-alliance.html') Asian Alliance
                          li
                            a(href='https://www.dezshira.com/about-us/history-milestones.html') History
                          li
                            a(href='https://www.dezshira.com/about-us/our-brands.html') Legacy of Our Brands 
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/About-Us.jpg' width='276')
                        p
                          | With over 30 years of expertise, Dezan Shira & Associates guides international investors and businesses through Asia's complex business landscape as your partner for growth.
                        .b-cta-list
                          a(href='https://www.dezshira.com/success-stories/testimonials') Contact our local experts
                          a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                         
                    h3.mega-mtab-heading(rel='mgtab3') Careers
                    #mgtab3.mega-mtab-content
                      .page-link-block
                        .service-page-heading Careers
                        ul
                          li
                            a(href='https://www.dezshira.com/career#s-showcase') Our Core Values 
                          li
                            a(href='https://www.dezshira.com/career/search?type=permanent') Career Opportunities
                          li
                            a(href='https://www.dezshira.com/career/search?role=Assistant+%28Intern%29') Internship Positions
                          li
                            a(href='https://www.dezshira.com/career#Meet_Our_People') Meet Our People  
  
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/Careers.jpg' width='276')
                        p
                          | Explore career opportunities with Dezan Shira & Associates and join a dynamic team driving business success across Asia.
                        .b-cta-list
                          a(href='https://www.dezshira.com/contact') Join our team    

                    h3.mega-mtab-heading(rel='mgtab47') News
                    #mgtab47.mega-mtab-content
                      .page-link-block
                        .service-page-heading Company News
                        h4.service-page-subheading.sp-padd-b 
                          a(href='https://www.dezshira.com/updates') All company news
                        ul.news-events-margin
                          li
                           
                           a(href='https://www.dezshira.com/updates/2024/08/claremont-graduate-university-emba-students-insightful-asean-market-opportunities.html') Dezan Shira & Associates Hosts Claremont Graduate University EMBA Students for Insightful Session on ASEAN Market Opportunities and China+1 Strategy
                           span.date August 8, 2024
                          li
                           
                           a(href='https://www.dezshira.com/updates/2024/08/giovanni-lovisetti-participates-design-innovation-hub-milan-summer-youth-festival.html') Giovanni Lovisetti Participates in the 4th Edition of the China-Italy Design Innovation Hub Milan Summer Youth Festival in Milan
                           span.date August 2, 2024
                          li
                           
                           a(href='https://www.dezshira.com/updates/2024/07/dezan-shira-associates-hosts-panel-on-vietnams-personal-data-protection-decree.html') Dezan Shira & Associates Hosts Panel on Vietnam’s Personal Data Protection Decree
                           span.date July 30, 2024

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/News.jpg' width='276')
                        p
                          | Stay updated with key milestones and developments from Dezan Shira & Associates.
                        .b-cta-list
                          a(href='https://www.dezshira.com/updates/') Our latest company updates


                    h3.mega-mtab-heading(rel='mgtab48') Events
                    #mgtab48.mega-mtab-content
                      .page-link-block
                        .service-page-heading Latest Events
                        h4.service-page-subheading.sp-padd-b
                          a(href='https://www.dezshira.com/events') See our upcoming events
                        ul.news-events-margin
                          li
                           span.date.event-d Tuesday, August 20, 2024
                           a(href='https://www.dezshira.com/events/details/critical-considerations-for-manufacturing-investments-in-vietnam.html') Critical Considerations for Manufacturing Investments in Vietnam

                          li
                           span.date.event-d  Thursday, August 22, 2024
                           a(href='https://www.dezshira.com/events/details/navigating-profit-repatriation-china-foreign-exchange-environment.html') Navigating Profit Repatriation in China's Foreign Exchange Environment

                          li
                           span.date.event-d  Wednesday, August 28, 2024
                           a(href='https://www.dezshira.com/events/details/unlocking-cross-border-success-odi-opportunities-and-considerations-for-indian-enterprises.html') Unlocking Cross-Border Success: ODI Opportunities and Considerations for Indian Enterprises

                          li
                           span.date.event-d  Thursday, September 5, 2024
                           a(href='https://www.dezshira.com/events/details/data-compliance-china-healthcare-sector-insights-pharma-medtech-hospital-collaborations.html') Data Compliance in China's Healthcare Sector: Insights for Pharma, MedTech, and Hospital Collaborations
                        .b-cta-list
                          a(href='https://www.dezshira.com/register') See all our upcoming events
                           
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/Events.jpg' width='276')
                        p
                          | Join our events to gain insights on business developments across Asia, featuring expert speakers discussing the latest industry trends.
                        .b-cta-list
                          a(href='https://www.dezshira.com/register') See all our upcoming events
                          a(href='https://www.dezshira.com/register') Subscribe to our newsletter to receive updates in your inbox


                    h3.mega-mtab-heading(rel='mgtab50') Media and Partnerships
                    #mgtab50.mega-mtab-content
                      .page-link-block
                        .service-page-heading Media and Partnerships
                        ul
                          li
                            a(href='https://www.dezshira.com/about-us/media.html') Media
                          li
                            a(href='https://www.dezshira.com/partnerships/global') Partnerships

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/Media-&-Partnerships.jpg' width='276')
                        p
                          | Explore our media presence and strategic partnerships that enhance our reach and strengthen our service offerings across Asia and beyond.
                        .b-cta-list
                          a(href='https://www.dezshira.com/contact') Contact our local experts
                          a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                    h3.mega-mtab-heading(rel='mgtab51') Client Success Stories
                    #mgtab51.mega-mtab-content
                      .page-link-block
                        .service-page-heading Client Success Stories
                        ul
                          li 
                            a(href="https://www.dezshira.com/success-stories/our-clients") Our Clients
                          li
                            a(href='https://www.dezshira.com/success-stories/brochures') Brochures
                          li
                            a(href='https://www.dezshira.com/success-stories/case-studies') Case Studies
                          li
                            a(href='https://www.dezshira.com/success-stories/experts-videos') Expert Series Videos
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Success-Stories.jpg' width='276')
                        p
                          | Explore how Dezan Shira & Associates has empowered clients across Asia with tailored solutions and strategic insights across markets and industries. 
                        .b-cta-list
                          a(href='https://www.dezshira.com/contact') Learn how we help businesses thrive in Asia


                    h3.d_active.mega-mtab-heading(rel='mgtab52') Personnel
                    #mgtab52.mega-mtab-content
                      .page-link-block
                        .service-page-heading Personnel
                        h4.service-page-subheading
                          a(href='https://www.dezshira.com/personnel') All personnel 
                        ul.two-column-list
                          li
                            a(href='https://www.dezshira.com/personnel/tag/china-beijing') China
                          li
                            a(href='https://www.dezshira.com/personnel/tag/dubai')  Dubai
                          li
                            a(href='https://www.dezshira.com/personnel/tag/german') Germany
                          li
                            a(href='https://www.dezshira.com/personnel/tag/hong-kong') Hong Kong SAR
                          li
                            a(href='https://www.dezshira.com/personnel/tag/india-delhi') India
                          li
                            a(href='https://www.dezshira.com/personnel/tag/italy') Italy
                          li
                            a(href='https://www.dezshira.com/personnel/tag/indonesia') Indonesia
                          li
                            a(href='https://www.dezshira.com/personnel/tag/mongolia') Mongolia
                          li
                            a(href='https://www.dezshira.com/personnel/tag/singapore') Singapore
                          li
                            a(href='https://www.dezshira.com/personnel/tag/vietnam-hanoi') Vietnam
                          li
                            a(href='https://www.dezshira.com/personnel/tag/usa') United States

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/Personnel.jpg' width='276')
                        p
                          | Discover the talented professionals who lead Dezan Shira & Associates, driving our mission to support your business growth across Asia.
                        .b-cta-list
                          a(href='https://www.dezshira.com/contact') Meet our team

                .mega-menu-close-btn        
                   img(src='../assets/img/mm-images/mega-menu-close-btn-icon.svg' width='20' height='20')   
                  
        li
          a(class="navbar__togglemenu" href="#" aria-expanded="false" data-twice=0) Services
          .navbar__megamenu.navbar__megamenu--two
            .megamenu-wrapper
              .flex-wrapper--spacing
                .mega-mtabs-wrapper.position-relative.width-service-mega
                  .servicetab
                        button#Opendefault.servicetablinks(onclick="openService(event, 'serviceAreas')") Services
                        button.servicetablinks(onclick="openService(event, 'industryFocus')") Industries
                  #serviceAreas.servicetabcontent
                    ul.mega-mtabs.tabs-margin-top.mega-mtabs-scroll
                      li.active(rel='mgtab0') 
                        span Accounting
                      li(rel='mgtab25') 
                        span Audit and Financial Review
                      li(rel='mgtab26') 
                        span Business Advisory
                      li(rel='mgtab27') 
                        span Business Intelligence
                      li(rel='mgtab28') 
                        span Corporate Establishment
                      //li(rel='mgtab29') 
                        span Due Diligence
                      li(rel='mgtab30') 
                        span HR and Payroll
                      //li(rel='mgtab31') 
                        span Intellectual Property
                      li(rel='mgtab32') 
                        span Mergers and Acquisitions
                      li(rel='mgtab44') 
                        span Risk Management and ESG
                      li(rel='mgtab45') 
                        span Tax
                      li(rel='mgtab46') 
                        span Technology
                    .mega-mtab-container.padding-top-tab-content
                      h3.d_active.mega-mtab-heading(rel='mgtab0') Accounting
                      #mgtab0.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Accounting
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/accounting-reporting') Our Accounting Services 

                          ul

                            li
                                a(href='https://www.dezshira.com/services/accounting-reporting/digital-expense-management') Digital Expense Management (China)
                            li
                                a(href='https://www.dezshira.com/services/accounting-reporting/lightweight-client-erp-for-accounting-services-customers') ERP and Financial Accounting Software
                            li
                                a(href='https://www.dezshira.com/services/accounting-reporting#Treasury%20Management') Treasury Management
                            li
                                a(href='https://www.dezshira.com/services/accounting-reporting/corporate-virtual-cfo-service') Virtual CFO and Interim Finance

                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Accounting.jpg' width='276')
                            p
                                | Our accounting services ensure accurate financial planning,  management and compliance for your business in Asia. 
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab25') Audit and Financial Review
                      #mgtab25.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Audit and Financial Review
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/audit-financial-review') Our Audit and Financial Review Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/audit-financial-review#Financial%20Statement%20Audits') Financial Statement Audits
                            li
                                a(href='https://www.dezshira.com/services/audit-financial-review#Financial%20Reviews%20and%20Advisory') Financial Reviews and Advisory
                            li
                                a(href='https://www.dezshira.com/services/audit-financial-review#Yearly%20Statutory%20Audits') Yearly Statutory Audits
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Audit.jpg' width='276')
                            p
                                | Our audit and financial review services ensure compliance, accuracy, and transparency in your business’s financial practices across various jurisdictions in Asia.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab26') Business Advisory
                      #mgtab26.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Business Advisory
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/business-advisory-services') Our Business Advisory Services 
                          ul
                            li
                                a(href='https://dsa-development.netlify.app/services/business-advisory-services.html') Commercial Advisory
                            li
                                a(href='https://dsa-development.netlify.app/services/business-advisory-services.html') Contract Advisory
                                
                            li
                                a(href='https://www.dezshira.com/services/business-advisory/intellectual-property-advisory') Intellectual Property
                            li
                                a(href='https://dsa-development.netlify.app/services/business-advisory-services.html') International Expansion

                            li
                                a(href='https://dsa-development.netlify.app/services/business-advisory-services.html') Labor and Employment Advisory 

                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Business-Advisory.jpg' width='276')
                            p
                                | Our business advisory services offer strategic guidance to help you navigate challenges and seize opportunities in Asia’s complex markets. Partner with us for expert insights and solutions.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab27') Business Intelligence
                      #mgtab27.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Business Intelligence
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/business-intelligence-solutions') Our Business Intelligence Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/business-intelligence-solutions#Business%20Partner%20Matching') Business Partner Matching
                            li
                                a(href='https://www.dezshira.com/services/business-intelligence/location-analysis-site-selection') Location Analysis and Site Selection
                            li
                                a(href='https://www.dezshira.com/landing/market-entry') Market Entry Strategy
                            li
                                a(href='https://www.dezshira.com/services/business-intelligence/cross-country-competitiveness-benchmarking') Market Research
                            li
                                a(href='https://www.dezshira.com/services/business-intelligence/supply-chain-engineering') Supply Chain Re-Engineering
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Business-Intelligence.jpg' width='276')
                            p
                                | Leverage our business intelligence services to optimize your strategy with our expert analysis, gain actionable insights, make informed decisions, and stay ahead in Asia’s competitive markets. 
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab28') Corporate Establishment and Governance
                      #mgtab28.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Corporate Establishment and Governance
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/business-advisory-services/corporate-establishment') Our Corporate Establishment and Governance Services 
                          ul
                            li 
                                a(href='https://www.dezshira.com/services/business-advisory-services/corporate-establishment#Corporate%20Governance%20and%20Compliance') Corporate Governance
                            li
                                a(href='https://www.dezshira.com/services/business-advisory-services/corporate-establishment#Corporate%20Structuring') Corporate Structuring
                            li 
                                a(href='https://www.dezshira.com/services/business-advisory-services/corporate-secretarial-service') Corporate Secretarial  
                            li 
                                a(href='https://www.dezshira.com/services') Nominee Director 
                                 
                            li 
                                a(href='https://www.dezshira.com/services/outbound-direct-investment') Outbound Direct Investment 
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration/global-staffing-solutions') Professional Employer Organization
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Corporate-Establishment.jpg' width='276')
                            p
                                | Our corporate establishment and governance services ensure your business is set up efficiently and operates within requisite legal frameworks across Asia.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories

                      h3.mega-mtab-heading(rel='mgtab30') HR and Payroll
                      #mgtab30.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading HR and Payroll
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/payroll-human-resource-administration') Our HR and Payroll Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration/asiaadmin') asiaadmin® - Your HR and Payroll Solution for Asia
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration/recruitment-services') Executive Search and Recruitment
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration#Human Resources') Human Resources
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration#Payroll') Payroll
                            li
                                a(href='https://www.dezshira.com/services/payroll-human-resource-administration/global-staffing-solutions') PEO and Global Staffing Solutions
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/HR.jpg' width='276')
                            p
                                | Our HR services in Asia ensure your business meets local compliance, attracts top talent, and implements effective HR strategies for sustained growth.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      
                      h3.mega-mtab-heading(rel='mgtab32') Mergers and Acquisitions
                      #mgtab32.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Mergers and Acquisitions
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services') Our M&A Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/legal-financial-due-diligence') Due Diligence
                            li
                                a(href='https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Initial%20Offer%20and%20Negotiation') Initial Offer and Negotiation
                            li
                                a(href='https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Post-Merger%20Integration') Post-Merger Integration
                            li
                                a(href='https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Signing%20and%20Deal%20Closing') Signing and Deal Closing
                            li
                                a(href='https://www.dezshira.com/services/business-advisory/mergers-acquisitions-services#Target%20Research%20and%20Identification') Target Research and Identification
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/M&A.jpg' width='276')
                            p
                                | Navigating an M&A transaction in Asia successfully requires overcoming unique regulatory, transparency, and other “emerging market” factors. We specialize in dedicated and cross-functional M&A project support.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                     
                      h3.mega-mtab-heading(rel='mgtab44') Risk Management, Compliance and ESG.
                      #mgtab44.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Risk Management, Compliance <br>and ESG

                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/risk-management-compliance') Our Risk Management and Compliance Services

                          
                          ul
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Fraud Prevention') Fraud Prevention
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Financial%20Statement%20Audits') Financial Statement Audits
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Risk%20Advisory%20and%20Fraud%20Investigations') Risk Advisory and Fraud Investigations
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Sustainability%20and%20ESG%20Compliance') Sustainability and ESG Compliance
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Special%20Purpose%20Reviews') Special Purpose Reviews
                            li
                                a(href='https://www.dezshira.com/services/risk-management-compliance#Yearly%20Statutory%20Audits') Yearly Statutory Audits
                            li
                                a(href='https://www.dezshira.com/services/risk-management/esg-compliance-and-sustainability') Sustainability and ESG services
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Risk.jpg' width='276')
                            p
                                | Businesses require dependable solutions to ensure strong risk management and compliance. We help create sustainable value in Asia by better addressing areas of operational, financial, and reputational risk.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab45') Tax
                      #mgtab45.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Tax
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/tax') Our Taxation Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/tax#Corporate%20Tax') Corporate Tax
                            li
                                a(href='https://www.dezshira.com/services/tax#Indirect%20Tax%20(including VAT, GST etc.)') Indirect Tax (including VAT, GST etc.)
                            li
                                a(href='https://www.dezshira.com/services/tax#Individual%20Income%20Tax') Individual Income Tax
                            li
                                a(href='https://www.dezshira.com/services/tax#International%20Tax,%20Cross-Border%20Tax%20and%20Transactions') International Tax, Cross-Border Tax and Transactions
                            li
                                a(href='https://www.dezshira.com/services/tax#Transfer%20Pricing') Transfer Pricing

                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Tax.jpg' width='276')
                            p
                                | Tax planning considerations and regulations are complex and often changing, particularly in emerging markets. We help companies expertly navigate Asia’s corporate, indirect, individual, international tax, and transfer pricing domains.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                      h3.mega-mtab-heading(rel='mgtab46') Technology
                      #mgtab46.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Technology
                          h4.service-page-subheading
                            a(href='https://www.dezshira.com/services/information-technology-solutions') Our Technology Services
                          ul
                            li
                                a(href='https://www.dezshira.com/services/information-technology-solutions#Cloud%20Applications') Cloud Applications
                            li
                                a(href='https://www.dezshira.com/services/information-technology-solutions#Cybersecurity%20and%20Audit') Cybersecurity and Audit
                            li 
                                a(href='https://www.dezshira.com/services/accounting-reporting/digital-expense-management') Digital Expense Management (China)    
                            li
                                a(href='https://www.dezshira.com/services/information-technology/cybersecurity-and-compliance-advisory') Data Privacy and Compliance
                            li
                                a(href='https://www.dezshira.com/services/information-technology/erp-advisory-localization-and-integration') ERP and Information Systems
                            li
                                a(href='https://www.dezshira.com/services/information-technology-solutions#IT%20Infrastructure%20and%20Integration%20Services') IT Infrastructure and Integration Services
                            li
                                a(href='https://www.dezshira.com/services/information-technology-solutions#Transformation%20and%20Cloud%20Services') Transformation and Cloud Services
                            li 
                                a(href='https://www.dezshira.com/services/accounting-reporting/lightweight-client-erp-for-accounting-services-customers') Lightweight ERP Service Bundle
                            li
                                a(href='https://www.dezshira.com/services/information-technology/virtual-cio-service') Virtual CIO and Advisory Services
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/service-areas/Technology.jpg' width='276')
                            p
                                | Operating in Asia requires navigating local technology solutions, compliance regimes, and languages. We provide resources and solutions that businesses need to stay ahead of the curve.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') Contact us today
                                a(href='https://www.dezshira.com/brochure') View our corporate brochures
                                a(href='https://www.dezshira.com/success-stories/testimonials') Success stories
                  
                  #industryFocus.servicetabcontent
                    ul.mega-mtabs.tabs-margin-top.mega-mtabs-scroll
                      li.active(rel='mgtab01') 
                        span Education
                      li(rel='mgtab34') 
                        span Entertainment and Sports
                      li(rel='mgtab35') 
                        span Environment and Cleantech
                      li(rel='mgtab36') 
                        span Food and Beverage
                      li(rel='mgtab37') 
                        span Healthcare
                      li(rel='mgtab38') 
                        span Information Technology
                      li(rel='mgtab39') 
                        span Manufacturing
                      li(rel='mgtab40') 
                        span Non-Governmental Organizations
                      li(rel='mgtab41') 
                        span Professional Services
                      li(rel='mgtab42') 
                        span Trade and E-commerce
                    .mega-mtab-container.padding-top-tab-content
                      h3.d_active.mega-mtab-heading(rel='mgtab01') Education
                      #mgtab01.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Education
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/chinas-education-sector-latest-trends-and-policies/') China’s Education Sector: Latest Trends and Policies 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/investing-india-education-market-online-FDI-tax-regulations.html') Investing in India's Education Market
                            li 
                                a(href='https://www.aseanbriefing.com/news/cambodia-issues-tax-incentives-education-sector/') Cambodia Issues Tax Incentives for the Education Sector 
                            li 
                                a(href='https://www.vietnam-briefing.com/doing-business-guide/vietnam/sector-insights/industry-spotlight-vietnam-s-growing-appetite-for-education') Education in Vietnam: Opportunities and Challenges  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Education.jpg' width='276')
                            p
                                | Investors in Asia's growing education sector face restrictive caps, evolving regulations, and technological disruptions. Our expertise helps you navigate these challenges successfully.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab34') Entertainment and Sports
                      #mgtab34.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Entertainment and Sports
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/china-eases-foreign-ownership-restrictions-for-theme-park-cinema-and-entertainment-exhibition-operators/') China Eases Foreign Ownership Restrictions for Theme Park, Cinema, and Entertainment Exhibition Operators 
                            li 
                                a(href='https://www.india-briefing.com/news/indias-skill-gaming-industry-investment-outlook-regulatory-landscape-24879.html/') India’s Skill Gaming Industry: Investment Outlook and Regulatory Landscape 
                            li 
                                a(href='https://www.aseanbriefing.com/news/swiftonomics-fueling-singapores-entertainment-hub-growth/') Swiftonomics: Fueling Singapore’s Entertainment Hub Growth 
                            li 
                                a(href='https://www.vietnam-briefing.com/news/the-video-game-industry-in-vietnam-opportunities-and-challenges.html/') The Video Game Industry in Vietnam: Opportunities and Challenges  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Entertainment.jpg' width='276')
                            p
                                | Asia's entertainment and sports industries are booming, driven by new trends and innovations. We help you navigate the complex market and regulatory landscape.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab35') Environment and Cleantech
                      #mgtab35.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Environment and Cleantech
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help  
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/china-tax-incentive-special-equipment-green-digital-development/') China Offers Special Equipment Tax Incentive for Green and Digital Development 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/investing-india-green-economy-technology-investing.html') Investing in India’s Green Economy 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/prospects-electric-battery-production-indonesia.html') Prospects for Electric Battery Production in Indonesia 
                            li 
                                a(href='https://www.vietnam-briefing.com/news/esg-focus-among-foreign-businesses-in-vietnam-vbf-report-highlights.html/') ESG Strategy a Key Focus Area for Foreign Businesses in Vietnam 
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Environment.jpg' width='276')
                            p
                                | The escalating threat of climate change, growing government regulations, and rapid technological advancements create a complex landscape for operating in Asia's environment and cleantech industry. Our experts help  you navigate these challenges effectively.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab36') Food and Beverage
                      #mgtab36.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Food and Beverage
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help  
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/doing-business-guide/china/sector-insights/exporting-food-products-to-china-a-step-by-step-guide') Exporting Food Products to China: A Step by Step Guide 
                            li 
                                a(href='https://www.india-briefing.com/news/indias-food-processing-industry-sees-over-inr-70-billion-in-investments-under-pli-scheme-30535.html/') India’s Food Processing Industry Sees Over INR 70 Billion in Investments Under PLI Scheme
                            li 
                                a(href='https://www.aseanbriefing.com/doing-business-guide/indonesia/company-establishment/halal-certification-guide') Comprehensive Guide to Halal Certification in Indonesia 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/vietnam-market-entry-strategy-for-foreign-f-b-companies-9869.html') Vietnam Market Entry Strategy for Foreign F&B Companies 
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Food.jpg' width='276')
                            p
                                | Rising disposable incomes, rapidly evolving consumption patterns, and stricter government regulations are reshaping Asia's F&B industry. Our experts help businesses adapt to changes and thrive.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab37') Healthcare
                      #mgtab37.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Healthcare
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/doing-business-guide/china/sector-insights/understanding-china-s-internet-healthcare-and-opportunities-for-investors') Understanding China’s Internet Healthcare and Opportunities for Investors
                            li 
                                a(href='https://www.asiabriefing.com/store/book/investing-india-healthcare-sector-opportunities-enabling-policies.html') Investing in India's Healthcare Sector: Opportunities and Enabling Policies
                            li 
                                a(href='https://www.aseanbriefing.com/doing-business-guide/singapore/sector-insights/singapore-s-healthcare-industry-gateway-to-asean-s-healthcare-market') Singapore’s Healthcare Industry: Gateway to ASEAN’s Healthcare Market
                            li 
                                a(href='https://www.vietnam-briefing.com/news/why-investors-should-be-optistimic-vietnams-healthcare-industry.html/') Why Investors Should be Optimistic About Vietnam’s Healthcare Industry  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Healthcare.jpg' width='276')
                            p
                                | Asia's healthcare industry is expanding to meet global demand for innovative healthcare facilities. We help you navigate growth opportunities and the  regulatory landscape for business success.
                            .b-cta-list
                                a(href='#') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab38') Information Technology
                      #mgtab38.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Information Technology
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/doing-business-guide/china/company-establishment/pipl-personal-information-protection-law') Ultimate Guide to PIPL Compliance: Navigating China's Personal Information Protection Law
                            li 
                                a(href='https://www.asiabriefing.com/store/book/accessing-indian-consumers-overseas-opportunities-digital-economy.html') Accessing Indian Consumers from Overseas and Opportunities in the Digital Economy 
                            li 
                                a(href='https://www.aseanbriefing.com/doing-business-guide/indonesia/sector-insights/opportunities-in-indonesia-s-financial-technology-sector') Opportunities in Indonesia’s Financial Technology Sector
                            li 
                                a(href='https://www.asiabriefing.com/store/book/complying-vietnam-personal-data-protection-decree.html') Complying with Vietnam’s Personal Data Protection Decree
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/IT.jpg' width='276')
                            p
                                | Asia's IT industry is booming with rapid advancements and increasing digital adoption. Our experts help guide you through diverse regulations and market dynamics.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab39') Manufacturing
                      #mgtab39.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Manufacturing
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help  
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/manufacturing-tax-incentives-in-china-in-2024/') Tax Incentives for Manufacturing Companies in China in 2024 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/inside-india-s-manufacturing-revolution-strategies-and-insights-for-business-success-9901.html') Inside India's Manufacturing Revolution: Strategies and Insights for Business Success
                            li 
                                a(href='https://www.aseanbriefing.com/news/the-allure-of-singapore-for-high-tech-manufacturing/') The Allure of Singapore for High-Tech Manufacturing
                            li 
                                a(href='https://www.vietnam-briefing.com/news/manufacturing-semiconductors-in-vietnam-vs-taiwan.html/') Semiconductor Manufacturing in Vietnam vs Taiwan 
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Manufacturing.jpg' width='276')
                            p
                                | Asia's manufacturing sector is thriving, driven by innovation and robust supply chains. Our expertise helps you capitalize on growth opportunities and navigate country-specific regulations.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab40') Non-Governmental Organizations
                      #mgtab40.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Non-Governmental Organizations
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/setting-up-foreign-ngo-law-china/') Setting Up a Foreign NGO in China 
                            li 
                                a(href='https://www.india-briefing.com/news/process-of-registering-your-ngo-in-india-trust-society-section-8-company-24256.html/') Process of Registering Your NGO in India: Trust, Society, Section 8 Company 
                            li 
                                a(href='https://www.aseanbriefing.com/news/forms-non-profit-entities-singapore/') Non-Profit Organization Entities in Singapore: PCLG, Society, and Charitable Trust
                            li 
                                a(href='https://www.vietnam-briefing.com/news/how-to-set-up-an-ngo-in-vietnam.html/') How to Set Up an NGO in Vietnam  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/NGO.jpg' width='276')
                            p
                                | Asia's NGO sector provides increasing opportunities for social impact. Dezan Shira can ensure your business compliance and growth to achieve your mission effectively.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab41') Professional Services
                      #mgtab41.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Professional Services
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/news/chinas-auditing-accounting-and-tax-services-industry/') China’s Auditing, Accounting, and Tax Services Industry 
                            li 
                                a(href='https://www.india-briefing.com/doing-business-guide/india/taxation-and-accounting') Taxation and Accounting 
                            li 
                                a(href='https://www.aseanbriefing.com/news/how-businesses-can-benefit-from-aseans-professional-services-sector/') How Businesses Can Benefit from ASEAN’s Professional Services Sector 
                            li 
                                a(href='https://www.asiabriefing.com/store/book/getting-goods-to-market-vietnam.html') Getting Your Goods to Market in Vietnam  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Professional-Services.jpg' width='276')
                            p
                                | Asia's professional services sector is experiencing rapid growth, driven by increasing demand for expertise and innovation. Our guidance ensures your firm thrives in this dynamic environment.
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                      h3.mega-mtab-heading(rel='mgtab42') Trade and E-commerce
                      #mgtab42.mega-mtab-content
                        .page-link-block
                          h3.service-page-heading Trade and E-commerce
                          h4.service-page-subheading 
                            a(href='https://www.dezshira.com/industries') How We Can Help 
                          h5.featured-insight-heading FEATURED INSIGHTS
                          ul
                            li 
                                a(href='https://www.china-briefing.com/doing-business-guide/china/taxation-and-accounting/customs-duties-and-import-export-taxes-in-china') Customs Duties and Import-Export Taxes in China 
                            li 
                                a(href='https://www.india-briefing.com/doing-business-guide/india/sector-insights/e-commerce-in-india-sector-profile-and-step-by-step-guide-on-selling-online') E-Commerce in India: Sector Profile and Step-by-Step Guide on Selling Online 
                            li 
                                a(href='https://www.aseanbriefing.com/news/an-overview-of-indonesias-free-trade-agreements/') An Overview of Indonesia’s Free Trade Agreements
                            li 
                                a(href='https://www.asiabriefing.com/store/book/getting-goods-to-market-vietnam.html') Getting Your Goods to Market in Vietnam  
                        .cta-banner-block
                            a(href='#')
                                img(src='../assets/img/mm-images/industry-focus/Trade.jpg' width='276')
                            p
                                | We can help you seize opportunities and navigate regulatory challenges in Asia’s trade and e-commerce sectors to stay ahead of  digital transformation and achieve market expansion. 
                            .b-cta-list
                                a(href='https://www.dezshira.com/contact') See how we can support your business
                
                .mega-menu-close-btn        
                   img(src='../assets/img/mm-images/mega-menu-close-btn-icon.svg' width='20' height='20')
        li
          a(class="navbar__togglemenu" href="#" aria-expanded="false" data-twice=0) Resources
          .navbar__megamenu.navbar__megamenu--three
            .megamenu-wrapper
              .flex-wrapper--spacing
                .mega-mtabs-wrapper#resources-section-menu
                  ul.mega-mtabs
                    li.active(rel='mgtab13') 
                        span Client Success Stories
                    //li.active(rel='mgtab61') 
                        span Client Portfolio
                    li(rel='mgtab15') 
                        span Asia Briefing
                    li(rel='mgtab16') 
                        span Doing Business Guides
                    li(rel='mgtab17') 
                        span Asiapedia
                    li(rel='mgtab18') 
                        span Asia Market Intelligence
                  .mega-mtab-container
                    h3.mega-mtab-heading(rel='mgtab15') Asia Briefing
                    #mgtab15.mega-mtab-content
                      .page-link-block
                        .service-page-heading Asia Briefing
                        ul
                          li 
                            a(href="https://www.asiabriefing.com/") About Asia Briefing
                          li 
                            a(href="https://www.asiabriefing.com/store") Publication Store
                          li
                            a(href='https://www.aseanbriefing.com/') ASEAN Briefing
                          li
                            a(href='https://www.china-briefing.com/') China Briefing
                          li
                            a(href='https://www.india-briefing.com/') India Briefing
                          li
                            a(href='https://www.middleeastbriefing.com/') Middle East Briefing
                          li
                            a(href='https://www.vietnam-briefing.com/') Vietnam Briefing


                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Asia-Briefing.jpg' width='276')
                        p
                          | Leverage our expertise to navigate the region’s dynamic markets with Asia Briefing’s in-depth articles, reports, and guides on business trends and opportunities across Asia.
                        .b-cta-list
                            a(href='https://www.dezshira.com/login' target='_blank') Contact Asia briefing
                            a(href='https://www.dezshira.com/login' target='_blank') Download our media kit
                            a(href='https://www.dezshira.com/login' target='_blank') Subscribe to Asia briefing
                      
                    //h3.mega-mtab-heading(rel='mgtab61') Client Portfolio
                    //#mgtab61.mega-mtab-content
                      .page-link-block
                        .service-page-heading Client Portfolio
                        ul
                          li 
                            a(href="https://www.dezshira.com/success-stories/our-clients") Our Clients
                          li
                            a(href='https://www.dezshira.com/success-stories/testimonials') Testimonials
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Client-Portfolio.jpg' width='276')
                        p
                          | Explore the businesses we've supported in expanding their operations and navigating Asia’s complex markets.
                        .b-cta-list
                            a(href='https://www.dezshira.com/success-stories/testimonials') Hear from our clients
                  
                      
                    h3.mega-mtab-heading(rel='mgtab16') Doing Business Guides
                    #mgtab16.mega-mtab-content
                      .page-link-block
                        .service-page-heading Doing Business Guides
                        ul.sd-list
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-asean.html') ASEAN
                            .source-download-visit 
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-asean.html') Download
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-china.html') China 
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-china.html') Download
                              span |
                              a(href='https://www.china-briefing.com/doing-business-guide/china') Visit Portal
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-dubai-2023.html') Dubai 
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-dubai-2023.html') Download
                          li
                            a(href='https://www.asiabriefing.com/store/book/doing-business-hong-kong.html') Hong Kong 
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/doing-business-hong-kong.html') Download
                              span |
                              a(href='https://www.china-briefing.com/doing-business-guide/hong-kong') Visit Portal
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-india.html') India 
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/doing-business-hong-kong.html') Download
                              span |
                              a(href='https://www.china-briefing.com/doing-business-guide/hong-kong') Visit Portal
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-indonesia.html') Indonesia
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-indonesia.html') Download
                              span |
                              a(href='https://www.india-briefing.com/doing-business-guide/indonesia') Visit Portal
                          li
                            a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-vietnam.html') Vietnam
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-vietnam.html') Download
                              span |
                              a(href='https://www.india-briefing.com/doing-business-guide/vietnam') Visit Portal
                          li
                            a(href='https://www.asiabriefing.com/store/book/an-introduction-to-doing-business-in-singapore-2023-9727.html') Singapore 
                            .source-download-visit
                              a(href='https://www.asiabriefing.com/store/book/introduction-doing-business-singapore.html') Download
                              span |
                              a(href='https://www.india-briefing.com/doing-business-guide/singapore') Visit Portal

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Guides.jpg' width='276')
                        p
                          | Download our 2024 Doing Business Guides for in-depth, updated information on navigating the business landscape in Asia.
                        .b-cta-list
                            a(href='https://www.dezshira.com/login' target='_blank') Download publications
                     
                    
                    h3.mega-mtab-heading(rel='mgtab17')  Asiapedia
                    #mgtab17.mega-mtab-content
                      .page-link-block
                        .service-page-heading  Asiapedia
                        ul
                          li
                            a(href='https://www.dezshira.com/library/search?type=infographic') Infographic
                          li
                            a(href='https://www.dezshira.com/library/investor_tools') Investor Tools
                          li
                            a(href='https://www.dezshira.com/library/search?type=multimedia') Magazines and Guides
                          li
                            a(href='https://www.dezshira.com/library/search?type=podcast') Podcasts
                          li
                            a(href='https://www.dezshira.com/library/search?type=presentation') Presentations
                          li
                            a(href='https://www.dezshira.com/library/search?type=qa') Q&A
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Asiapedia.jpg' width='276')
                        p
                          | Explore Asiapedia for an extensive collection of resources on doing business in Asia. Our comprehensive library offers valuable insights and practical knowledge brought to you by our experts.
                        .b-cta-list
                            a(href='https://www.dezshira.com/login' target='_blank') Explore our Asia market resources

                    h3.mega-mtab-heading(rel='mgtab18') Asia Market Intelligence
                    #mgtab18.mega-mtab-content
                      .page-link-block
                        .service-page-heading Asia Market Intelligence
                        ul
                          li
                            a(href='https://www.dezshira.com/landing/navigating-asias-industrial-landscape-in-2024') Asia Manufacturing Index
                          li
                            a(href='https://www.dezshira.com/library') Asiapedia 
                          li
                            a(href='https://www.dezshira.com/library/search?type=publications') Publications 
                          li
                            a(href='https://www.dezshira.com/library/search?type=multimedia') Webinar Replays 
                          li
                            a(href='https://www.dezshira.com/library/search?') Search

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/Asia-Market-Intelligence.jpg' width='276')
                        p
                          | Discover tools and resources offered by Dezan Shira & Associates to support your business operations and strategy in Asia. Enhance your approach with our expert insights.
                        .b-cta-list
                            a(href='https://www.dezshira.com/login' target='_blank') Download our EAMI Report
                 
                            a(href='https://www.dezshira.com/register' target='_blank') View our Asia merger portal
                    h3.d_active.mega-mtab-heading(rel='mgtab13') Client Success Stories
                    #mgtab13.mega-mtab-content
                      .page-link-block
                        .service-page-heading Client Success Stories
                        ul
                          li 
                            a(href="https://www.dezshira.com/success-stories/our-clients") Our Clients
                          li
                            a(href='https://www.dezshira.com/success-stories/brochures') Brochures
                          li
                            a(href='https://www.dezshira.com/success-stories/case-studies') Case Studies
                          li
                            a(href='https://www.dezshira.com/success-stories/experts-videos') Expert Series Videos


                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/resources/Success-Stories.jpg' width='276')
                        p
                          | Explore how Dezan Shira & Associates has empowered clients across Asia with tailored solutions and strategic insights across markets and industries. 
                        .b-cta-list
                            a(href='https://www.dezshira.com/login' target='_blank') Log in to your Asiapedia account
            
                            a(href='https://www.dezshira.com/register' target='_blank') Sign up to access insights
                .mega-menu-close-btn        
                   img(src='../assets/img/mm-images/mega-menu-close-btn-icon.svg' width='20' height='20')
        li
          a(class="navbar__togglemenu" href="#" aria-expanded="false" data-twice=0) Locations
          .navbar__megamenu.navbar__megamenu--four
            .megamenu-wrapper
              .flex-wrapper--spacing
                .mega-mtabs-wrapper.position-relative#locations-section-menu
                  ul.mega-mtabs
                    li.active(rel='mgtab19') 
                        span Asia Pacific
                    li(rel='mgtab56') 
                        span China
                    li(rel='mgtab20') 
                        span Middle East
                    li(rel='mgtab21') 
                        span Europe
                    li(rel='mgtab22') 
                        span North America
                    li(rel='mgtab23') 
                        span International Desks
                  .mega-mtab-container
                    h3.d_active.mega-mtab-heading(rel='mgtab19') Asia Pacific
                    #mgtab19.mega-mtab-content
                      .page-link-block.pa-right-padding
                        .service-page-heading Asia Pacific
                        ul.two-column-list
                          li
                            a(href='#https://www.dezshira.com/office/australia.html') Australia
                          li
                            a(href='https://www.dezshira.com/office/bangladesh.html') Bangladesh
                          li
                            a(href='https://www.dezshira.com/office/india') India
                          li
                            a(href='https://www.dezshira.com/office/indonesia/jakarta.html') Indonesia
                          li
                            a(href='https://www.dezshira.com/office/tokyo.html') Japan
                          li
                            a(href='#https://www.dezshira.com/office/thailand.html') Thailand
                          li
                            a(href='https://www.dezshira.com/office/malaysia.html') Malaysia
                          li
                            a(href='https://www.dezshira.com/office/ulaanbaatar.html') Mongolia
                          li
                            a(href='https://www.dezshira.com/office/nepal.html') Nepal
                          li
                            a(href='https://www.dezshira.com/office/philippines.html') Philippines
                          li
                            a(href='https://www.dezshira.com/office/singapore.html') Singapore
                          li
                            a(href='https://www.dezshira.com/office/seoul.html') South Korea
                          li
                            a(href='https://www.dezshira.com/office/sri-lanka.html') Sri Lanka
                          li                         
                            a(href='https://www.dezshira.com/office/vietnam') Vietnam
                            
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/locations/Asia.jpg' width='276')
                        p
                          | Dezan Shira & Associates offers comprehensive services across the Asia Pacific region, addressing diverse market needs and regulatory environments to support your business growth.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Our network of global offices
                    h3.d_active.mega-mtab-heading(rel='mgtab56') China
                    #mgtab56.mega-mtab-content
                      .page-link-block.pa-right-padding
                        .service-page-heading China
                        ul.two-column-list
                          li
                            a(href='https://www.dezshira.com/office/hong-kong.html') Hong Kong SAR
                          li
                            a(href='https://www.dezshira.com/office/china/beijing.html') Beijing
                          li
                            a(href='https://www.dezshira.com/office/china/dalian.html') Dalian
                          li
                            a(href='https://www.dezshira.com/office/china/guangzhou.html') Guangzhou
                          li
                            a(href='xhttps://www.dezshira.com/office/china/haikou.html') Haikou
                          li
                            a(href='https://www.dezshira.com/office/china/haikou.html') Hangzhou
                          li
                            a(href='https://www.dezshira.com/office/china/ningbo.html') Ningbo
                          li
                            a(href='https://www.dezshira.com/office/china/qingdao.html') Qingdao
                          li
                            a(href='https://www.dezshira.com/office/china/shanghai.html') Shanghai
                          li
                            a(href='https://www.dezshira.com/office/china/shenzhen.html') Shenzhen 
                          li
                            a(href='https://www.dezshira.com/office/china/suzhou.html') Suzhou 
                          li
                            a(href='https://www.dezshira.com/office/china/tianjin.html') Tianjin 
                          li
                            a(href='https://www.dezshira.com/office/china/zhongshan.html') Zhongshan

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/about-us/China.jpg' width='276')
                        p
                          | Dezan Shira & Associates offers comprehensive services across the Asia Pacific region, addressing diverse market needs and regulatory environments to support your business growth.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Explore our global network of offices
                    h3.mega-mtab-heading(rel='mgtab20') Middle East
                    #mgtab20.mega-mtab-content
                      .page-link-block
                        .service-page-heading Middle East
                        ul
                          li
                            a(href='https://www.dezshira.com/office/dubai.html') Dubai, UAE
                          li
                            a(href='https://www.dezshira.com/office/turkiye.html') Turkiye

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/locations/Middle-East.jpg' width='276')
                        p
                          | Dezan Shira & Associates provides expert guidance in the Middle East, helping businesses navigate the region’s unique regulatory and market landscapes.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Explore our global network of offices
         
                    h3.mega-mtab-heading(rel='mgtab21') Europe
                    #mgtab21.mega-mtab-content
                      .page-link-block
                        .service-page-heading Europe
                        ul
                          li
                            a(href='https://www.dezshira.com/office/munich.html') Germany
                          li
                            a(href='https://www.dezshira.com/location/uk-ireland') Ireland
                          li
                            a(href='https://www.dezshira.com/office/italy') Italy
                          li
                            a(href='https://www.dezshira.com/location/spain') Spain
                          li
                            a(href='https://www.dezshira.com/location/uk-ireland') United Kingdom


                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/locations/Europe.jpg' width='276' )
                        p
                          | Dezan Shira & Associates delivers specialized support across Europe, helping businesses navigate complex regulations and market conditions for successful international expansion.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Explore our global network of offices
                        
                    h3.mega-mtab-heading(rel='mgtab22') North America
                    #mgtab22.mega-mtab-content
                      .page-link-block
                        .service-page-heading North America
                        ul
                          li
                            a(href='https://www.dezshira.com/office/usa/boston.html')  Boston, USA
                          li
                            a(href='https://www.dezshira.com/office/usa/salt-lake-city.html') Salt Lake City, USA

                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/locations/North-America.jpg' width='276' )
                        p
                          | Dezan Shira & Associates offers tailored services to support North American businesses entering and expanding in Asia, helping them navigate market complexities and regulatory environments with ease.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Explore our global network of offices
                         
                    h3.mega-mtab-heading(rel='mgtab23') International Desks
                    #mgtab23.mega-mtab-content
                      .page-link-block
                        .service-page-heading International Desks
                        ul
                          li
                            a(href='https://www.dezshira.com/location/australia') Australian Desk
                          li
                            a(href='https://www.dezshira.com/location/china') Chinese Desk
                          li
                            a(href='https://www.dezshira.com/location/china') French Desk
                          li
                            a(href='https://www.dezshira.com/location/china') German Desk
                          li
                            a(href='https://www.dezshira.com/location/italy') Italian Desk
                          li
                            a(href='https://www.dezshira.com/location/middle-east') Middle East Desk
                          li
                            a(href='https://www.dezshira.com/location/north-america') North American Desk
                          li
                            a(href='https://www.dezshira.com/location/north-america') Spanish Desk
                          li
                            a(href='https://www.dezshira.com/location/uk-ireland') UK and Ireland Desk
                      .cta-banner-block
                        a(href='#')
                          img(src='../assets/img/mm-images/locations/International-desks.jpg' width='276')
                        p
                          | Our International Desks are a bridge between your business and Asia, guiding you through cultural nuances and regulatory landscapes for seamless market entry.
                        .b-cta-list
                          a(href='https://www.dezshira.com/office') Explore our global network of offices
                .mega-menu-close-btn        
                   img(src='../assets/img/mm-images/mega-menu-close-btn-icon.svg' width='20' height='20')
        li
          a(href="#") Contact Us
      ul.navbar__iconmenu
        li
          a(href="#" data-twice=0)
            i.icon-search
          .navbar__search
            .section-wrapper
              .navbar__search__box
                input(type="search", name="", placeholder="Search")
                button(type="submit")
                  i.icon-search
        li
          a(href="#" data-twice=0)
            i.icon-sphere
          aside.navbar__desks
            ul
              li
                a.sprite-flag.sprite-flag-us(href="#") North American Desk
              li
                a.sprite-flag.sprite-flag-uk(href="#") UK and Ireland Desk
              li
                a.sprite-flag.sprite-flag-fr(href="#") French Desk
              li
                a.sprite-flag.sprite-flag-de(href="#") German Desk
              li
                a.sprite-flag.sprite-flag-it(href="#") Italian Desk
              li
                a.sprite-flag.sprite-flag-ru(href="#") Russian Desk
              li
                a.sprite-flag.sprite-flag-es(href="#") Spanish Desk
              li
                a.sprite-flag.sprite-flag-cn(href="#") Chinese Desk
              li
                a.sprite-flag-uae(href="#") Middle East Desk
              li
                a.sprite-flag.sprite-flag-au(href="#") Australian Desk
        li.navbar__iconmenu__login
          a(href="#" onclick="toggle_modal('.navbar__accessbox');")
            i.icon-user
            span Login
          aside.navbar__accessbox
            .navbar__accessbox--top
              img.navbar__accessbox__logo(src="https://www.dezshira.com/assets/img/asiapedia-logo-tagline-black.svg", alt="Asiapedia logo")
              p A place to gain knowledge and better understand business in Asia
              a.navbar__accessbox__close(href="#" onclick="toggle_modal('.navbar__accessbox');")
                span.sprite-close
            .navbar__accessbox--bot
              .navbar__signupbox
                h3.subhead Create an account
                .navbar__signupbox__slider
                  .glide__track(data-glide-el='track')
                    .glide__slides
                      .glide__slide
                        span.sprite-login.sprite-login-1
                        p Download our FREE magazines and guides
                      .glide__slide
                        span.sprite-login.sprite-login-2
                        p Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                      .glide__slide
                        span.sprite-login.sprite-login-3
                        p Access presentations, webinars, podcasts, reports, Q&As and more
                      .glide__slide
                        span.sprite-login.sprite-login-4
                        p Track paid orders and connect with our support team
                  .glide__bullets(data-glide-el='controls[nav]')
                    .glide__bullet(data-glide-dir="=0")
                    .glide__bullet(data-glide-dir="=1")
                    .glide__bullet(data-glide-dir="=2")
                    .glide__bullet(data-glide-dir="=3")
                a(href="#") Sign Up Now
              .navbar__loginbox
                h3.subhead Member Login
                .navbar__loginform
                  .navbar__loginitems
                    input(type="email" placeholder="Email Address")
                    input(type="password" placeholder="Password")
                    a.reset-link(href="#") Forgot password?
                  button Log In
    button.navbar__hamburger.navbar--mobile(onclick="toggle_visibility('.navbar__menuwrap');")
      span